<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <h5 class="ion-text-center"> Ingresa tu Correo para recuperar contraseña</h5>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" shape="round" class="cuadro-boton">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="mensajeUsuario">{{ mensajeUsuario }}</ion-text>

  <ion-button expand="full" style="--background: #ffeb3b;" (click)="recuperarContrasena()">Recuperar Contraseña</ion-button>
</ion-content>
