<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" shape="round" class="cuadro-boton">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <hr>
  <h2 class="ion-text-center">Para recuperar contraseña ingresa tu correo y selecciona una de las opciones</h2>
  <h5>Opción para alumnos y docentes</h5>
  <hr>

  <!-- Campo para ingresar el nombre de usuario -->
  <ion-item>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="usuario" required></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="mensajeCorreo">{{ mensajeCorreo }}</ion-text>

  <!-- Agregamos el mensaje de error para el nombre de usuario -->
  <ion-text color="danger" *ngIf="mensajeUsuario">{{ mensajeUsuario }}</ion-text>

  <!-- Botón para recuperar contraseña -->
  <ion-button expand="full" style="--background: #ffeb3b;" (click)="abrirVentanaCorreo()">Recuperar Contraseña</ion-button>
  
  <!-- Botón para usar contraseña temporal -->
  <ion-button expand="full" color="primary" (click)="usarContrasenaTemporal()">Usar Contraseña Temporal</ion-button>

  <hr>
  <h3 class="ion-text-center">Si necesitas comunicarte con el soporte, haz click en el siguiente botón</h3>
  
  <!-- Botón para contactar con soporte -->
  <ion-button expand="full" color="tertiary" (click)="abrirModalSoporte()">Contactar Soporte</ion-button>
</ion-content>
