<ion-header>
  <ion-toolbar>
    <h1 class="ion-text-center">RegistrAPP</h1>
    <h5 class="ion-text-center">Registra tu asistencia de forma rápida y segura</h5>
    <ion-title>Página del Docente</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" shape="round" class="cuadro-boton">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" shape="round" class="cuadro-boton">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Bienvenido, {{ usuario }}</h2>
  <hr>
  <h5>Estamos Trabajando en la siguiente actualización para generar QR en rol Docente</h5>
  <h5>Por su comprensión, Muchas Gracias</h5>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Proyecto de JoseDiazG
    </ion-title>
  </ion-toolbar>
</ion-footer>