.cuadro-boton {
    border: 2px solid var(--ion-color-primary); /* Borde de color primario */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Relleno interno del botón */
    background-color: var(--ion-color-light); /* Color de fondo */
    color: var(--ion-color-primary); /* Color del texto */
  }
  
  .cuadro-boton:hover {
    background-color: var(--ion-color-primary); /* Color de fondo al pasar el ratón */
    color: var(--ion-color-light); /* Color del texto al pasar el ratón */
  }
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }