<ion-header>
  <ion-toolbar>
    <div class="botones-superior">
      <ion-buttons slot="start">
        <ion-button (click)="volver()" shape="round" class="cuadro-boton">
          <img 
            style="margin-right: 10px; filter: invert(1);" 
            width="24" 
            height="24" 
            src="https://img.icons8.com/windows/32/circled-left.png" 
            alt="circled-left" 
          />
          <span>Volver</span>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarSesion()" shape="round" class="cuadro-boton">
          <span>Cerrar Sesión</span>
          <ion-icon 
            name="log-out-outline" 
            style="margin-left: 10px; color: white;"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="sin-fondo">
  <div class="cuadro-fondo-negro">
    <div class="texto-superior">
      <h1 class="ion-text-center">RegistrAPP</h1>
      <h5 class="ion-text-center subtitulo">
        Registra tu asistencia de forma rápida y segura
      </h5>
      <ion-title class="ion-text-center">Página del Alumno</ion-title>
    </div>
  </div>
  <h2 class="bienvenido">Bienvenido, {{ usuario }}</h2>
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>{{ asignatura }}</ion-label>
      <ion-button (click)="abrirModalAsignatura(asignatura)">
        Registrar Asistencia
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Proyecto de JoseDiazG
    </ion-title>
  </ion-toolbar>
</ion-footer>
