<ion-header>
  <ion-toolbar>
    <h1 class="ion-text-center">RegistrAPP</h1>
    <h5 class="ion-text-center">Registra tu asistencia de forma rápida y segura</h5>
    <ion-title>Página del Alumno</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" shape="round" class="cuadro-boton">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" shape="round" class="cuadro-boton">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center">Bienvenido, {{ usuario }}</h2>

  <!-- Botón para escanear el código QR -->
  <div class="ion-padding">
    <ion-buttons slot="end1">
      <ion-button routerLink="/qr">
        Escanear QR
      </ion-button>
    </ion-buttons>
  </div>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Proyecto de JoseDiazG
    </ion-title>
  </ion-toolbar>
</ion-footer>
