<ion-header>
    <ion-toolbar>
      <ion-title>Restablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="mensajeUsuario">{{ mensajeUsuario }}</ion-text>
  
    <ion-button expand="full" (click)="recuperar()">Recuperar</ion-button>
    <ion-button expand="full" color="medium" (click)="volver()">Volver</ion-button>
  </ion-content>
  