.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .descripcion {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .paso {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .imagen {
    width: 100%;
    max-width: 400px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
  }
  .cuadro-boton {
    border: 2px solid var(--ion-color-primary); /* Borde de color primario */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Relleno interno del botón */
    background-color: var(--ion-color-light); /* Color de fondo */
    color: var(--ion-color-primary); /* Color del texto */
  }
  
  .cuadro-boton:hover {
    background-color: var(--ion-color-primary); /* Color de fondo al pasar el ratón */
    color: var(--ion-color-light); /* Color del texto al pasar el ratón */
  }
  ion-page {
    --background: black; /* Cambia el fondo de toda la página a negro */
  }
  
  ion-header {
    background: black; /* Si también quieres que el encabezado tenga fondo negro */
  }
  
  ion-toolbar {
    --background: black; /* Cambia el fondo de la barra de herramientas a negro */
    color: white; /* Cambia el color del texto del encabezado a blanco */
  }
  
  ion-title {
    color: white; /* Asegura que el título en el encabezado sea blanco */
  }
  
  ion-content {
    --background: black; /* Cambia el fondo del contenido a negro */
    color: white; /* Cambia el color del texto a blanco */
  }
  
  .titulo,
  .descripcion,
  .paso {
    color: white; /* Cambia el color del texto de las listas a blanco */
  }
  .logo-imagen {
    width: 80px; /* Ajusta el tamaño según lo desees */
    height: auto; /* Mantiene la proporción original */
    display: inline-block; /* Cambia de bloque a inline-block para que no ocupe toda la línea */
    margin-right: 15px; /* Agrega espacio a la derecha de la imagen (opcional) */
  }
  
  