<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">INFORMACIÓN</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="volver()" shape="round" class="cuadro-boton">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <h2 class="titulo">Bienvenido a la página de Información</h2>
  <p class="descripcion">
    A continuación, te presentamos una guía paso a paso para usar la aplicación **RegistrAPP**.
  </p>

  <ol>
    <li class="paso">
      <strong>Ingresa a la aplicación:</strong> Localiza el icono de **RegistrAPP** en tu dispositivo y ábrela.
      <br>
      <img src="assets/img/paso1.png" alt="Icono de la aplicación" class="imagen">
    </li>

    <li class="paso">
      <strong>Inicia sesión:</strong> Ingresa tu nombre de usuario y contraseña.
      <ul>
        <li>
          Si olvidaste tu contraseña, selecciona el botón <strong>Recuperar</strong>.
          <br>
          <img src="assets/img/paso2.png" alt="Pantalla de recuperación de contraseña" class="imagen">
        </li>
      </ul>
    </li>

    <li class="paso">
      <strong>Opciones al ingresar:</strong> Ingresa tu nombre de usuario para habilitar las siguientes opciones:
      <ul>
        <li>
          Ingresa tu correo electrónico y haz clic en <strong>Aceptar</strong>. Recibirás un correo con instrucciones para recuperar tu contraseña.
          <br>
          <img src="assets/img/paso3.png" alt="Recuperar contraseña por correo" class="imagen">
        </li>
        <li>
          Si necesitas acceso temporal, selecciona <strong>Solicitar Contraseña</strong>. Esto te proporcionará un código temporal.
          <br>
          <img src="assets/img/paso4.png" alt="Código temporal" class="imagen">
        </li>
        <li>
          Para contactar con soporte, selecciona <strong>Contactar Soporte</strong>, ingresa los datos requeridos y haz clic en <strong>Enviar Solicitud</strong>.
          <br>
          <img src="assets/img/paso 5.png" alt="Formulario de soporte" class="imagen">
        </li>
        <li>
          Selecciona tu rol: <strong>Docente</strong> o <strong>Alumno</strong> según corresponda.
          <br>
          <img src="assets/img/paso7.png" alt="Selección de rol" class="imagen">
        </li>
        <li>
          Para escanear un código QR, selecciona el ícono de escaneo en la parte inferior de la pantalla. Esto abrirá la cámara para realizar el escaneo.
          <br>
          <img src="assets/img/paso8.png" alt="Escaneo de código QR" class="imagen">
        </li>
      </ul>
    </li>
  </ol>
</ion-content>
