<ion-header>
  <ion-toolbar>
    <h1 class="ion-text-center">RegistrAPP</h1>
    <h5 class="ion-text-center">Registra tu asistencia de forma rápida y segura</h5>
    <ion-title>Inicio de Sesión</ion-title>
    <hr>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="mensajeUsuario">{{ mensajeUsuario }}</ion-text>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-text color="danger" *ngIf="mensajeContrasena">{{ mensajeContrasena }}</ion-text>

  <ion-button expand="full" style="--background: #ffeb3b;"(click)="login()">Iniciar Sesión</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="medium" (click)="limpiarCampos()">Limpiar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="primary" (click)="RestablecerC()">Recuperar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Proyecto de JoseDiazG
    </ion-title>
  </ion-toolbar>
</ion-footer>